AWS Infrastructure :
    Dynamo DB :
      Name : Car_Bon_Data
      Columns : 
        - device_id (String) (pk)
        - timestamp (Number) (sk)
        - CO (String)
        - humidity (String)	
        - temperature (String)
    ECR Registry : 
      Name : car-bon
    Lambda :
      Name : car-bon
      Properties :
        Transform: AWS::Serverless-2016-10-31
        Description: An AWS Serverless Application Model template describing your function.
        Resources:
          carbon:
            Type: AWS::Serverless::Function
            Properties:
              CodeUri: .
              Description: ''
              MemorySize: 128
              Timeout: 300
              Architectures:
                - x86_64
              EphemeralStorage:
                Size: 512
              EventInvokeConfig:
                MaximumEventAgeInSeconds: 21600
                MaximumRetryAttempts: 2
              FunctionUrlConfig:
                AuthType: NONE
                InvokeMode: BUFFERED
              ImageUri: 956047403479.dkr.ecr.us-east-1.amazonaws.com/car-bon:1.6.7
              PackageType: Image
              Policies:
                - Statement:
                    - Sid: VisualEditor0
                      Effect: Allow
                      Action:
                        - dynamodb:Scan
                        - dynamodb:Query
                      Resource: arn:aws:dynamodb:*:956047403479:table/*/index/*
                    - Sid: VisualEditor1
                      Effect: Allow
                      Action:
                        - dynamodb:PutItem
                        - dynamodb:Scan
                        - dynamodb:Query
                      Resource: arn:aws:dynamodb:*:956047403479:table/*
                    - Effect: Allow
                      Action:
                        - dynamodb:DescribeStream
                        - dynamodb:GetRecords
                        - dynamodb:GetShardIterator
                        - dynamodb:ListStreams
                        - logs:CreateLogGroup
                        - logs:CreateLogStream
                        - logs:PutLogEvents
                      Resource: '*'
                    - Effect: Allow
                      Action:
                        - lambda:InvokeFunction
                      Resource: '*'
                    - Effect: Allow
                      Action:
                        - dynamodb:DescribeStream
                        - dynamodb:GetRecords
                        - dynamodb:GetShardIterator
                        - dynamodb:ListStreams
                      Resource: '*'
                    - Sid: BasePermissions
                      Effect: Allow
                      Action:
                        - secretsmanager:*
                        - cloudformation:CreateChangeSet
                        - cloudformation:DescribeChangeSet
                        - cloudformation:DescribeStackResource
                        - cloudformation:DescribeStacks
                        - cloudformation:ExecuteChangeSet
                        - docdb-elastic:GetCluster
                        - docdb-elastic:ListClusters
                        - ec2:DescribeSecurityGroups
                        - ec2:DescribeSubnets
                        - ec2:DescribeVpcs
                        - kms:DescribeKey
                        - kms:ListAliases
                        - kms:ListKeys
                        - lambda:ListFunctions
                        - rds:DescribeDBClusters
                        - rds:DescribeDBInstances
                        - redshift:DescribeClusters
                        - redshift-serverless:ListWorkgroups
                        - redshift-serverless:GetNamespace
                        - tag:GetResources
                      Resource: '*'
                    - Sid: LambdaPermissions
                      Effect: Allow
                      Action:
                        - lambda:AddPermission
                        - lambda:CreateFunction
                        - lambda:GetFunction
                        - lambda:InvokeFunction
                        - lambda:UpdateFunctionConfiguration
                      Resource: arn:aws:lambda:*:*:function:SecretsManager*
                    - Sid: SARPermissions
                      Effect: Allow
                      Action:
                        - serverlessrepo:CreateCloudFormationChangeSet
                        - serverlessrepo:GetApplication
                      Resource: arn:aws:serverlessrepo:*:*:applications/SecretsManager*
                    - Sid: S3Permissions
                      Effect: Allow
                      Action:
                        - s3:GetObject
                      Resource:
                        - arn:aws:s3:::awsserverlessrepo-changesets*
                        - arn:aws:s3:::secrets-manager-rotation-apps-*/*
                    - Action:
                        - dynamodb:*
                        - dax:*
                        - application-autoscaling:DeleteScalingPolicy
                        - application-autoscaling:DeregisterScalableTarget
                        - application-autoscaling:DescribeScalableTargets
                        - application-autoscaling:DescribeScalingActivities
                        - application-autoscaling:DescribeScalingPolicies
                        - application-autoscaling:PutScalingPolicy
                        - application-autoscaling:RegisterScalableTarget
                        - cloudwatch:DeleteAlarms
                        - cloudwatch:DescribeAlarmHistory
                        - cloudwatch:DescribeAlarms
                        - cloudwatch:DescribeAlarmsForMetric
                        - cloudwatch:GetMetricStatistics
                        - cloudwatch:ListMetrics
                        - cloudwatch:PutMetricAlarm
                        - cloudwatch:GetMetricData
                        - datapipeline:ActivatePipeline
                        - datapipeline:CreatePipeline
                        - datapipeline:DeletePipeline
                        - datapipeline:DescribeObjects
                        - datapipeline:DescribePipelines
                        - datapipeline:GetPipelineDefinition
                        - datapipeline:ListPipelines
                        - datapipeline:PutPipelineDefinition
                        - datapipeline:QueryObjects
                        - ec2:DescribeVpcs
                        - ec2:DescribeSubnets
                        - ec2:DescribeSecurityGroups
                        - iam:GetRole
                        - iam:ListRoles
                        - kms:DescribeKey
                        - kms:ListAliases
                        - sns:CreateTopic
                        - sns:DeleteTopic
                        - sns:ListSubscriptions
                        - sns:ListSubscriptionsByTopic
                        - sns:ListTopics
                        - sns:Subscribe
                        - sns:Unsubscribe
                        - sns:SetTopicAttributes
                        - lambda:CreateFunction
                        - lambda:ListFunctions
                        - lambda:ListEventSourceMappings
                        - lambda:CreateEventSourceMapping
                        - lambda:DeleteEventSourceMapping
                        - lambda:GetFunctionConfiguration
                        - lambda:DeleteFunction
                        - resource-groups:ListGroups
                        - resource-groups:ListGroupResources
                        - resource-groups:GetGroup
                        - resource-groups:GetGroupQuery
                        - resource-groups:DeleteGroup
                        - resource-groups:CreateGroup
                        - tag:GetResources
                        - kinesis:ListStreams
                        - kinesis:DescribeStream
                        - kinesis:DescribeStreamSummary
                      Effect: Allow
                      Resource: '*'
                    - Action:
                        - cloudwatch:GetInsightRuleReport
                      Effect: Allow
                      Resource: arn:aws:cloudwatch:*:*:insight-rule/DynamoDBContributorInsights*
                    - Action:
                        - iam:PassRole
                      Effect: Allow
                      Resource: '*'
                      Condition:
                        StringLike:
                          iam:PassedToService:
                            - application-autoscaling.amazonaws.com
                            - application-autoscaling.amazonaws.com.cn
                            - dax.amazonaws.com
                    - Effect: Allow
                      Action:
                        - iam:CreateServiceLinkedRole
                      Resource: '*'
                      Condition:
                        StringEquals:
                          iam:AWSServiceName:
                            - replication.dynamodb.amazonaws.com
                            - dax.amazonaws.com
                            - dynamodb.application-autoscaling.amazonaws.com
                            - contributorinsights.dynamodb.amazonaws.com
                            - kinesisreplication.dynamodb.amazonaws.com
                    - Effect: Allow
                      Action:
                        - logs:CreateLogGroup
                      Resource: arn:aws:logs:us-east-1:956047403479:*
                    - Effect: Allow
                      Action:
                        - logs:CreateLogStream
                        - logs:PutLogEvents
                      Resource:
                        - >-
                          arn:aws:logs:us-east-1:956047403479:log-group:/aws/lambda/car-bon:*
              SnapStart:
                ApplyOn: None
    Secret Manager :
      Secret Name : Car-Bon-Secrets
      Secret Keys : 
        - TABLE_NAME
        - ACCOUNT_SID
        - AUTH_TOKEN
        - NUMBER
    CloudWatch :
      Log Group : /aws/lambda/car-bon
    Route 53:
      Hosted Zone : 
        - car-bon.eco